<% provide(:title, t(:sign_in))%>
<h1><%=t(:sign_in)%></h1>

<p><%= t(:pls_sign_in)%> <%= link_to t(:register_now), registration_path %></p>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
			<%=	f.label :email%>
			<%=	f.text_field :email%>
			
			<%=	f.label :password, t(:password)%>
			<%= f.password_field :password%>
			
			<p><%= link_to t(:forgotten_password), new_password_reset_path %></p>
				
			<%= f.submit t(:sign_in), class: "btn btn-large btn-primary"%>
		<% end%>
	</div>
</div>