<% provide(:title, "Anmeldung")%>
<h1>Anmeldung</h1>

<p>Bitte meldet Euch unten mit Eurer E-mail Adresse und Eurem Passwort an. Du hast dich noch nicht registriert? <%= link_to "Hier geht's lang!", registration_path %></p>
	
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
			<%=	f.label :email%>
			<%=	f.text_field :email%>
			
			<%=	f.label :password, "Passwort"%>
			<%= f.password_field :password%>
			
			<p><%= link_to "Passwort vergessen?", new_password_reset_path %></p>
				
			<%= f.submit "Anmelden", class: "btn btn-large btn-primary"%>
		<% end%>
	</div>
</div>