<% provide(:title, "Kennwort zurücksetzen")%>
<h1>Kennwort zurücksetzen</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>

		    <%= f.label :password, "Passwort" %>
		    <%= f.password_field :password %>

		    <%= f.label :password_confirmation, "Passwort-Wiederholung"  %>
		    <%= f.password_field :password_confirmation %>

			<%= f.submit "Passwort aktualisieren", class: "btn btn-large btn-primary"%>

		<% end %>
	</div>
</div>