<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Phil & Stef's Wedding - dev", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Program", program_path %></li>
					<li><%= link_to "Locations", locations_path %></li>
					<li><%= link_to "Hotels", hotels_path %></li>
					<li><%= link_to "Wedding", germanvsenglish_path %></li>
					<li><%= link_to "Region", region_path %></li>
					<li><%= link_to "Registry", registry_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
