<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to t(:s_p_wedding), root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<!-- <li><%= link_to t(:home), root_path %></li> -->
					<% if signed_in? %>
						<li><%= link_to t(:program), program_path %></li>
						<li><%= link_to t(:locations), locations_path %></li>
						<li><%= link_to t(:hotels), hotels_path %></li>
						<li><%= link_to t(:wedding), germanvsenglish_path %></li>
						<li><%= link_to t(:region), region_path %></li>
						<li><%= link_to t(:registry), registry_path %></li>
						<li><%= link_to t(:rsvp), rsvp_path %></li>
					<% else %>
						<li><%= link_to t(:sign_in), signin_path %></li>
						<li><%= link_to t(:register), registration_path %></li>
					<% end %>
				</ul>
			</nav>
			</div>
		</div>
	</div>
</header>
