<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Phil & Stef's Wedding", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "Program", '#' %></li>
					<li><%= link_to "Locations", '#' %></li>
					<li><%= link_to "Hotels", '#' %></li>
					<li><%= link_to "Wedding", '#' %></li>
					<li><%= link_to "Region", '#' %></li>
					<li><%= link_to "Registry", '#' %></li>
					<li><%= link_to "Contact", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
